<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apsviewfnapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/34299022-dba3-4352-bf39-dbc0304179b6/resourceGroups/Sept25FunctionApp/providers/Microsoft.Web/sites/APSViewFnApp</ResourceId>
    <UserName>$APSViewFnApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://apsviewfnapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>